
.success-msg{
  width: 100%;
  height: 50px;
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
}
.success-msg__text{
  color: #0f5132;
  padding: 10px;
  font-weight: bold;
}

.error-msg{
  width: 100%;
  height: 50px;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
}

.error-msg__text{
  font-weight: bold;
  color: #842029;
  padding: 10px;
}


.todo{
  margin: 0px auto;
  padding: 50px 0;
  max-width: 1230px;
  
}

.todo__create-form{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  -align: center;
}

h2{
  width: 60%;
  margin: 10px auto;
}

.todo__create-form-txt {
  padding: 10px;
  width: 50%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.todo__create-form-category{
  width: 20%;
  margin: 0 10px;
}

.todo__create-form-btn{
  margin-left: 30px;
  width: 25%;
  color: #fff;
  background: #000;
  border-radius: 3px;
  cursor: pointer;
  
}

.todo-list__content {
  margin: 50px auto 0;
  width: 60%;
  text-align: left;
}

.todo-list__header{
  padding: 12px;
  width: 20%;
  text-align: left;
  font-weight: bold;
}

.todo-list__row-item{
  padding: 10px;
  width: 100%;
  height: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;

}

.update-form{
  display: flex;
  align-items: center;
  justify-content:space-between;
  
}

.update-form__item {
  width: 100%;
  line-height: 50%;
}

.update-form__item-txt {
  display: inline-block;
  width: 80%;
  outline: none;
  border: none;
}

.update-form__item-btn{
  padding: 5px;
  margin-right: 0;
  width: 50px;
  border: none;
  border-radius: 3px;
  background: #0000ff;
  color: #fff;
  cursor: pointer;
}

.delete-form__button {
  width: 50px;
}

.delete-form__button-btn{
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
}